
*.opensdf
*.sdf
*.obj
*.log
*.tlog
*.pdb
*.ilk
*.ipch
*.idb
*.ipch
Project/ipch/chargerdebuger-50854523/chargerdebuger-a6c56d86.ipch
*.idb
*.suo
*.pch
*.res
*.idb
*.pch
*.idb
Project/x64/Debug/LOG/log2018_11_10.txt
Project/x64/Debug/LOG/log2018_11_09.txt
Project/x64/Debug/LOG/log2018_11_12.txt
Project/Release/chargerDebuger.exe
